.project-details-container {
    display: flex;
    width: 100%;
}

.project-infos {
    // width: 60%;
    text-align: justify;
    font-size: 18px;
}

.project-image-list {
    // width: 40%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-image {
    margin-bottom: 25px;
    width: 340px;
    height: 245px;
}

.tag-list {
    position: inherit;
    display: flex;
    bottom: 15%;
    color: #E02657;
    font-size: 16px;
  }
  
.tag {
    border: 1px solid #E02657;
    border-radius: 45px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.breadcrumb {
    display: flex;
    justify-content: flex-start;
    // opacity: 0.5;
    color: black;
    font-weight: 400;
    opacity: 0.5;
    font-size: 18px;
    
    a:visited {
        color: black;
    }
}

.redirect-link {
    margin-top: 50px;
    margin-right: 15px;
}

.project-description {
    white-space: pre-wrap;
}

.color-black {
    color: black;
}