.technologies-list {
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: left;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.technologies-item{
  width: 33%;
  padding-right: 50px;
  display: flex;
  flex-direction: column;

  @media (max-width: 550px) {
    width: 100%;
    padding-right: 0px;
    margin-top: 10px;
  }
}

.technologies-icons{
  font-size: 50px;

  @media (max-width: 550px) {
    font-size: 32px;
  }
}