.home {
    text-align: start;
}

.home-section {
    padding: 60px 0px;

    @media (max-width: 900px) {
        padding: 40px 0px;
    }
}

.first-section {
    padding-top: 35px;
    padding-bottom: 60px;
    @media (max-width: 900px) {
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.headline {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 3.2rem;

    @media (max-width: 900px) {
        text-align: center;
        font-size: 38px;
        line-height: 2.5rem;
    }

    @media (max-width: 450px) {
        font-size: 24px;
        line-height: 2.0rem;
    }
}

.headline-description {
    margin-top: 0px;
    font-weight: 600;
}

.home-cv {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}

.home-text {
    @media (max-width: 800px) {
        text-align: justify;
    }
}

.technology-background {
    height: 535px;


    @media (max-width: 1700px) {
        height: 535px;
    }

    @media (max-width: 1160px) {
        height: 600px;
    }

    @media (max-width: 900px) {
        height: 500px;
    }

    @media (max-width: 640px) {
        height: 550px;
    }

    @media (max-width: 550px) {
        height: 650px;
    }

    @media (max-width: 470px) {
        height: 700px;
    }

    @media (max-width: 400px) {
        height: 760px;
    }
}

.home-inline-list {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.projects-item {
    width: 50%;
    margin: 2%;
}

.last-project {
    @media (max-width: 1300px) {
        display: none;
    }
    @media (max-width: 900px) {
        display: inline;
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.home-contact-item {
    margin-left: 25px;
    margin-right: 25px;

    @media (max-width: 800px) {
        margin: 5px
    }
}

.home-photo-container {
    margin-left: 80px;
    margin-bottom: 25px;

    @media (max-width: 900px) {
        margin-left: 0px;
    }
}

.info-section {
    padding: 50px;
    background: radial-gradient(1200px 600px at 15% -10%, rgba(34, 211, 238, 0.22), transparent 60%), radial-gradient(900px 650px at 85% 5%, rgba(59, 130, 246, 0.22), transparent 55%), radial-gradient(1000px 700px at 50% 110%, rgba(96, 165, 250, 0.12), transparent 60%), linear-gradient(162deg, #49527e, #2e3551 40%, #1d2c4b);    border-radius: 20px;
    border: 1px solid rgba(15, 23, 42, 0.08);
    box-shadow: 0 30px 90px rgba(0, 0, 0, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    transform: translateZ(0);

    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

.info-section:hover {
  border-color: rgba(37, 99, 235, 0.15);
  box-shadow: 0 18px 44px rgba(2, 6, 23, 0.14), 0 0 70px rgb(59 126 137 / 10%), 0 0 90px rgba(37, 99, 235, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  transform: translateY(-2px);
  transition: transform 180ms ease, box-shadow 220ms ease, border-color 180ms ease;
}
