.home {
    text-align: start;
    margin-top: 60px;
}

.home-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.headline {
    font-size: 60px;
}

.home-text {
    line-height: 2.5rem;
}

.turquoise-background {
    background: rgba(55, 187, 189, 0.06);
    width: 100%;
    left: 20%;
    margin-left: -20vw;
    margin-top: -50px;
    position: absolute;
    z-index: -2;
}

.home-inline-list {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.technologies-list {
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.technologies-item{
    width: 33%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.technologies-icons{
    color: #E02657;
    font-size: 50px;
}

.projects-item {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

.home-contact-item {
    margin-left: 25px;
    margin-right: 25px;
}