.nav-bar{
    width: 100%;
    padding-top: 70px;
    // padding-top: calc(max(25px, 8vh));
}

.nav-bar-content{
    height: 70px;
    width: 100%;
    min-height: 25px;
    background-color: #37BBBD;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 2;
}

.logo-container{
    width: 100px;
    height: 100%;
    position: relative;
}

.links-container{
    width: 80%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 550px) {
        display: none;
    }
}

.logo{
    height: 90%;
    max-width: 100%;
    left: 15%;
    position: absolute;
    object-fit: contain;
}

.link-title {
    margin-right: 40px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #FAFAFA;
}

.link-title:hover {
    text-decoration: underline;
}

.menu {
    align-items: center;
    margin-left: 3%;
    margin-right: 2%;
    display: none;

    @media (max-width: 550px) {
        display: flex;
    }
}

.menu-icon {
    color: white;
    font-size: 32px;
}

.menu-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 70px;
    background: #2babad;
    z-index: 2;
}

.dropdown-link {
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #FAFAFA;
}

.overlay {
    position: absolute;
    width: 100vh;
    height: 100vh;
    color: black;
    z-index: 1;
}