.footer {

    @media (max-width: 500px) {
        display: none;
    }
}

.footer-content {
    position: fixed;
    height: 35px;
    bottom: 0;
    background-color: #00070F;
    color: #FAFAFA;
    width: 100%;
    min-height: 20px;
    z-index: 2;
}

.footer-list-container  {
    position: relative;
}

.footer-lists {
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 2%;
    margin-right: 2%;
}

.language-list {
    left: 0px;
}

.language-list li{
    display: inline;
    padding-right: 15px;
    font-size: 12px;
}

.contact-list {
    right: 0px;

    a:link, a:visited {
        color: white;
    }
}

.contact-list li{
    display: inline;
    padding-left: 25px;
    font-size: 20px;
}

.a:link a:visited {
    margin: 0px;
}

.footer-contact {
    vertical-align: middle;
}