.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  font-size: 24px;
}

@media  screen and (max-width: 800px) {
  .App {
    font-size: 14px;
  }
}

.app-body {
  top: 0px;
  margin-left: 7%;
  margin-right: 7%;
}

a:link, a:visited {
  text-decoration: none;
}

.button-primary {
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: #37BBBD;
  color:white;
  font-size: 18px;
  width: fit-content;
}

.profile-photo-container {
  float: right;
  margin-bottom: 25px;
  margin-left: 25px;
  width: 305px;
  height: 390px;
  border-radius: 10px;
  position:relative;

  .profile-photo-img {
    border-radius: 10px;
    width: 305px;
    height: 390px;
    object-fit: cover;
    object-position: top;
  }
  
  &:hover{
    transition: .5s ease-out;
    
    &:before{
      content:'';
      position:absolute;
      left:0; top:0;
      width:100%; height:100%;
      display:inline-block;
      border-radius: 10px;
      background: rgba(55,187,189,0);
      transition: .5s ease-out; 
    }
  }
  
  &:not(:hover) {
    filter: brightness(95%) grayscale(40%) contrast(160%) saturate(250%);
    transition: .5s ease-out;
    &:before {
      content:'';
      position:absolute;
      left:0; top:0;
      width:100%; height:100%;
      display:inline-block;
      border-radius: 10px;
      background:  rgba(55,187,189,0.35);
      transition: .5s ease-out; 
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
}

.pink {
  color: #E02657;
}

.turquoise {
  color: #37BBBD;
}

.black {
  color: black;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.align-left{
  text-align: left;
}

.normal-text {
  line-height: 2.5rem;
}
