@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --primary-color: #2e8ad7;
  --secondary-color: #065cb1;
  --black-color: black;
  --text-color: black;
  --page-margin: 0px 7%;
  --background-primary-color: rgb(56 104 203 / 8%);
  --background-secondary-color: rgb(56 104 203 / 8%);
}

body {
  margin: 0;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary-color);
  color: var(--text-color);
}

.secondary-color {
  color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
